.transfer-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.error-message {
  color: red;
}

.button {
  max-width: 16rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
