@use '@angular/material' as mat;

$my-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$yellow-palette,
  )
));

@include mat.core();

html {
  @include mat.all-component-themes($my-theme);
}
